<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showtime!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Hello There! Welcome to my project</h1>
    <p>To display the current time and date:</p>
    <ol>
        <li>Go to the URL</li>
        <li>Change the URL to http://localhost:8000/time_display</li>
        <li>Have a great day</li>
    </ol>
</body>
</html>